/* You can add global styles to this file, and also import other style files */

.example-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #162579;
}

mat-toolbar {
  height: 64px;
}

mat-icon {
  padding-right: 10px;
}

mat-nav-list {
  padding-top: 0px;
}
.avatar{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 15px;
  color:#3abc8c;
  background-color: white;
  border-radius: 50%;
}
.person-stuff{
  color: white;
}
.not-active-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.app_sidenav{
  width: 280px;
}

.menu-body{
  background-color: #3abc8c;
  color: white;
  min-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.main-icon{
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}
.searchBar{
  width: 85%;
}
.btn-none:hover{
  cursor: pointer;
}
.options{
  color: white;
  margin-left: 10px;
}
.btn-menu{
  margin-right: 10px;
}
.btn-search{
  margin-right: 10px;
}
.menu{
  position: fixed;
  top: 0%;
  width: 400px;
  background-color: #3abc8c;
  height: 100%;
}
.btn-none{
  margin-top: -11px;
  height: 100%;
  background-color: rgba(0,0,0,0);
  color : white;
  border: none;
  height: 72px;
  font-size: 18px;
  text-align: center center;
  width: 30px;
  margin-left: 5px;
  border-radius: 2px;
}